@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #5c5c5c;
  --accent: #edd4e3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
